.request-ajax-field-action .form-item {
  display: inline-block;
}

#block-kruschina-adminimal-theme-help {
  display: none;
}

.view.dashboard tr.request-status-81 {
  background-color: #fffcd3;
}

.view.dashboard tr.request-status-82 {
  background-color: #d3ffe5;
}

.view.dashboard tr.request-status-83 {
  background-color: #ffd3d3;
}

.view.dashboard .views-field-job-request-counter .item {
  display: inline-block;
  padding: 1px 15px;
  background-color: #fff2f2;
}

.view.dashboard .views-field-job-request-counter .item.new {
  background-color: #fffcd3;
}

.dashboard-wrapper .view-filters {
  margin-bottom: 20px;
}

.dashboard-wrapper .dashboard-job .view-filters .form--inline .form-item {
  margin-right: 3%;
  vertical-align: top;
  width: 46%;
}

.dashboard-wrapper input.form-submit,
.dashboard-wrapper .form-actions {
  display: inline-block;
}

.dashboard-wrapper .view-filters .form--inline .form-item select {
  max-height: 65px;

  width: 100%;
}

.dashboard-wrapper .dashboard-request .view-filters .form--inline .form-actions {
  padding-top: 20px;
}

.views-ef-fieldset-container.seven-details {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

.views-ef-fieldset-container.seven-details:first-child {
  margin-right: 1%;
}

.views-ef-fieldset-container.seven-details .form-item {
  max-width: 100%;
}

.views-ef-fieldsetwebform-submission-data-container.seven-details .form-item.form-type-textfield input {
  width: 100%;
}

.seven-details__wrapper > div {
  width: 46%;
  float: left;
  margin-right: 10px;
}

.seven-details__wrapper > div input {
  width: 100%;
}

.webform-submission-data .webform-element label {
  display: inline-block;
}

#vbo-action-form-wrapper > div {
  display: inline-block;
  margin-right: 10px;
}

/* add job link */
.view-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.view-header a {
  display: inline-block;
  line-height: 1.15;
  padding: 0.75rem 1rem;
  text-decoration: none;
  border: 2px solid #004f80;
  background: #004f80;
  color: #fff;
  transition: all 0.2s ease;
}

.view-header a:hover,
.view-header a:active {
  background: #003351;
  color: #fff;
  text-decoration: none;
}

.request-ajax-field-action {
  display: block;
  padding-right: 2rem;
  position: relative;
  float: left;
}

.request-ajax-field-action::after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

.request-ajax-field-action .ajax-progress.ajax-progress-throbber {
  position: absolute;
  right: 0;
}

.ui-tooltip {
  border: 1px solid #ed5;
  border-radius: 2px;
  background: #fe6;
}

.select2-dropdown,
.select2-container--default .select2-selection--multiple {
  border-radius: 0 !important;
}

.select2-container {
  max-width: 100%;
  width: 100% !important;
}
