<div class="dashboard-wrapper">
  <div class="content">
    {% if content.description %}
      <div class="description">{{ content.description }}</div>
    {% endif %}
    <div class="content">{{ content.main }}</div>
  </div>
</div>


